h2 {
    border: 2px solid blue;
}

li {
    color: black;
    background-color: aquamarine;
}

table {
    border: 3px solid dotted greenyellow
}

th {
    background-color: plum;
    font-size: 30px;
}

td {
    background-color: lime;
}